# Diretórios de compilação
/target/
/bin/
/out/

# Arquivos de configuração do IDE
/.idea/
/*.iml
/.vscode/

# Arquivos de dependências do Maven
/.mvn/
mvnw
mvnw.cmd

# Configurações do Gradle
.gradle/
/build/
/gradle-wrapper.jar
gradle-wrapper.properties

# Arquivos de log
/logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db
